body {
    margin: 0px;
}

#universo {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    /* margin: 20px 20px 20px;
    */
    border: 1px solid black;
}

#controles {
    position: relative;
    height: 10%;
    margin: 0px;
    border: 1px solid black;
}

button {
    width: 16.35%;
    height: 100%;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imagem_div{
    position: relative;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}

#textura_div{
    position: relative;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}