body {
    margin: 0px;
    background: #f1f3f5;
}

#universo {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    /* margin: 20px 20px 20px;
    */
    border: 1px solid black;
}

#controles {
    position: relative;
    height: 10%;
    margin: 0px;
    border: 1px solid black;
}

button {
    width: 16.25%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
    cursor: pointer;
}

canvas {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

#imagem_div{
    position: relative;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}

#textura_div{
    position: relative;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
}

#sub_textura{
    width: 49.8%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

p {
    text-align: center;
}